[Desktop Entry]
Type=Application
Name=pvpn
GenericName=VPN
Comment=Proton VPN for filtered networks
Exec=pvpn-gui
Icon=dev.pvpn.Gui
Terminal=false
Categories=Network;Security;
Keywords=vpn;proton;privacy;
StartupNotify=true
